body{
    background-color: #F2E9E4;
}
.container {
    margin: auto;
    height: 100%;
    width: 100%;
}
.logo{
   margin: auto;
}
.login {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #9A8C98;
    width: 70%;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
}
.login img{
    border-radius: 30px;
    width: 100px;
    height: 100px;
}
form{
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
form input{
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 30px;
    font-size: 18px;
}
.button{
    margin: auto;
    width: 200px;
}